 {% block headerinclude %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <style>
      .form-container{
        margin: 50px 20%;
        border: 2px solid black;
        position: relative;
        height: 1010px;
        background-color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
          
      }

      .form-container form{
        margin: 30px 10px;
      }

      .buttonRegister {
        width: 49%;
        color: white;
        padding: 12px 20px;
        margin: 14px 0px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #4CAF50;
      }

      .buttonRegister:hover{
        background-color: white;
        border: 1px solid #4CAF50;
        text-decoration: none;
        color: black;
        width: 49%;
        border-radius: 4px;
        cursor: pointer;
      }

      .buttonCancel {
        text-align: center;
        width: 49%;
        color: white;
        padding: 12px 20px;
        margin: 14px 0px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: grey
      }

      .buttonCancel:hover {
        text-decoration: none;
        color: black;
          padding: 12px 20px;
          margin: 14px 0px;
          border: 1px solid black;
          border-radius: 4px;
          cursor: pointer;
          background-color: lightgrey;
      }

      h1{
        background-color: black;
        color: white;
      }
      body{
        background-image: url('https://images.assetsdelivery.com/compings_v2/elenavdovina/elenavdovina1705/elenavdovina170500036.jpg');
      }

      input:invalid {
        box-shadow: 0 0 5px 1px red;
      }

      input:focus:invalid {
        box-shadow: none;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Medical Registration</title>
    {% endblock headerinclude %}

    {% block footerinclude %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% endblock footerinclude %}
    
    {% block content %}
    <div class="form-container"> 
      <h1 align="center">Medicine Registration</h1>
        <form id="form1" action="" method="POST" enctype='multipart/form-data'>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group row">
            <label for="manufacturedDate" class="col-sm-2 col-form-label"><b>Date Registered</b></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="dateRegistered" placeholder="Auto Generated" name="dateRegistered" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>SKU</b></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="colFormLabel" placeholder="Auto Generated" name="SKU" disabled >
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>Category</b></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="colFormLabel" name="category" placeholder="Type here" minlength="5" maxlength="30" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>Generic Name</b></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="colFormLabel" name="genericName" placeholder="Type here" minlength="5" maxlength="30" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>Common Brand</b></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="colFormLabel" name="commonBrand" placeholder="Type here" minlength="5" maxlength="30" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="manufacturedDate" class="col-sm-2 col-form-label"><b>Manufactured Date</b></label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="manufacturedDate" name="manufacturedDate" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="expiryDate" class="col-sm-2 col-form-label"><b>Expiry Date</b></label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="expiryDate" name="expiryDate" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>Size</b></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="colFormLabel" placeholder="Type here" name="size" min="1" max="10" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>How to use</b></label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" id="colFormLabel" name="howToUse" minlength="5" maxlength="50" required></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>Side Effects</b></label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" id="colFormLabel" name="sideEffects" minlength="5" maxlength="50" required></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>Price</b></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="colFormLabel" placeholder="Type here" name="price" min="1" max="1000" step="any" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>No. of items</b></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="colFormLabel" placeholder="Type here" name="noOfItems" min="1" max="10" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"><b>Images</b></label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="file" placeholder="Type here" name="images" required>
            </div>
          </div>
          
          <a type="button" href="{% url 'abcpharma:index_view' %}" class="buttonCancel">Cancel</a>
          <button type="submit" class="buttonRegister">Submit</button>
        </form>
    </div>
    {% endblock content %}
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
</html>
